.body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.contact h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.contact {
  min-height: 80vh;
  background: rgb(7, 7, 7);
  background: linear-gradient(
    0deg,
    rgba(7, 7, 7, 1) 0%,
    rgba(0, 3, 7, 1) 0%,
    rgba(251, 251, 251, 1) 100%
  );
  margin-top: 15vh;
  min-width: 100vw;
  text-align: center;
  bottom: 0;
  font-family: sans-serif;
}
.contact h1,
h3 {
  font-weight: 700;
  padding-bottom: 2vh;
}
.contact .under {
  text-decoration: underline 2px #478ff9;
}
.contact img {
  width: 5vw;
}
.contact img {
  transition: transform 330ms ease-in-out;
}
.contact .imgg img:hover {
  transform: scale(1.2);
  color: #478ff9;
}
.contact .imgg {
  margin: auto;
  width: 50%;
  min-height: 20vh;
  max-width: fit-content;
}
.contact .footer {
  padding-top: 5vh;
  font-size: 2rem;
  color: aliceblue;
}
.contact .footer img {
  display: inline-block;
}
